@import"https://fonts.googleapis.com/css2?family=Peddana&display=swap";@import"https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap";html,body {
    margin: 0;
    padding: 0
}

* {
    scroll-behavior: smooth
}

._App_8ffxf_1 {
    position: relative;
    scroll-behavior: smooth
}

[data-tooltip] {
    position: relative
}

[data-tooltip]:after {
    opacity: 0;
    animation: _appearTooltip_8ffxf_1 .3s .3s ease-in-out forwards
}

[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    color: #fff;
    font-size: 1rem;
    font-weight: lighter!important;
    background: #000;
    padding: .5rem 1rem;
    border-radius: .25rem
}

@keyframes _appearTooltip_8ffxf_1 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

._Navbar_8cuzg_1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    box-shadow: 0 .5rem 1rem #0000001a;
    padding: 1rem;
    width: 240px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    transition: transform .2s ease-in-out
}

._Navbar__list_8cuzg_16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: auto
}

@media screen and (max-width: 1000px) {
    ._Navbar_8cuzg_1 {
        transform:translate(-100%)
    }
}

._open_8cuzg_34 {
    width: 100%
}

._Logo_1qefn_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%
}

._Logo_1qefn_3 img {
    max-width: 175px;
    border-radius: 50%
}

._Logo_1qefn_3 h1 {
    color: #fff;
    font-family: Peddana,serif;
    font-weight: 100;
    font-size: 3rem;
    margin: 0
}

._MenuItem_1k8dv_3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block:1rem;font-size: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    font-family: Peddana,serif;
    line-height: 2rem;
    transition: all .2s ease-in-out;
    cursor: pointer
}

._MenuItem_1k8dv_3 a {
    color: #fff;
    text-decoration: none
}

._MenuItem_1k8dv_3:after {
    content: "";
    position: absolute;
    background-color: #4729ff;
    left: 0;
    bottom: 6px;
    right: 0;
    height: 4px;
    transform-origin: center;
    animation: _shrink_1k8dv_1 .25s ease forwards
}

._selected_1k8dv_33:after {
    animation: _grow_1k8dv_1 .25s ease-in-out forwards
}

@keyframes _shrink_1k8dv_1 {
    0% {
        transform: scaleX(1)
    }

    to {
        transform: scaleX(0)
    }
}

@keyframes _grow_1k8dv_1 {
    0% {
        transform: scaleX(0)
    }

    90% {
        transform: scaleX(1.05)
    }

    to {
        transform: scaleX(1)
    }
}

._Socials_a88o8_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}

._Socials_a88o8_1 a {
    color: #fff;
    fill: #fff;
    padding-inline:.5rem;transition: color .2s ease-in-out,filter .2s ease-in-out
}

._Socials_a88o8_1 a:hover {
    color: #4729ff!important;
    filter: brightness(2)
}

._Socials_a88o8_1 a svg {
    font-size: 2rem
}

._Navbar_1wqrd_3 {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    box-shadow: 0 .5rem 1rem #0000001a;
    padding: 1rem;
    width: 240px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    transition: transform .2s ease-in-out
}

._Navbar__list_1wqrd_18 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: auto
}

@media screen and (max-width: 1000px) {
    ._Navbar_1wqrd_3 {
        transform:translate(-100%)
    }
}

._open_1wqrd_36 {
    width: 100%
}

._Main_1wqrd_40 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Ubuntu Mono,monospace;
    right: 0;
    width: calc(100% - 240px);
    margin-left: 240px;
    transition: width .2s ease-in-out,margin-left .2s ease-in-out
}

@media screen and (max-width: 1000px) {
    ._Main_1wqrd_40 {
        width:100%;
        margin-left: 0
    }
}

._LanguageSelector_t5sx3_1 {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    transition: filter .2s ease-in-out
}

._LanguageSelector_t5sx3_1 svg {
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,.2))
}

@media screen and (max-width: 1000px) {
    ._LanguageSelector_t5sx3_1 svg {
        font-size:2.75rem
    }
}

._LanguageSelector_t5sx3_1 ._disabled_t5sx3_23 {
    filter: brightness(.7) grayscale(50%)
}

._Hero_1g06u_3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #000;
    width: 100%;
    padding: 4rem;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Ubuntu Mono,monospace
}

._Hero__socials_1g06u_16 {
    width: 50%
}

@media screen and (max-width: 1000px) {
    ._Hero_1g06u_3 {
        padding-bottom:0
    }

    ._Hero__socials_1g06u_16 {
        width: 100%
    }
}

._Background_vt0ov_1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
    overflow: hidden
}

._Particles_vt0ov_13 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none
}

._Particle_vt0ov_13 {
    position: absolute;
    top: -5%;
    left: 0;
    border-radius: 100vw;
    background-color: #4729ff;
    animation: _fall_vt0ov_1 10s linear infinite;
    opacity: .25
}

._Particle_vt0ov_13:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    transform: translate(50%);
    height: 200px;
    background: linear-gradient(to top,#4729FF,#FF005C,transparent)
}

@keyframes _fall_vt0ov_1 {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(100vh)
    }
}

@media (prefers-reduced-motion: reduce) {
    ._Particle_vt0ov_13 {
        animation: none
    }

    ._Particle_vt0ov_13:nth-child(1) {
        transform: translateY(20vh)
    }

    ._Particle_vt0ov_13:nth-child(2) {
        transform: translateY(9vh)
    }

    ._Particle_vt0ov_13:nth-child(3) {
        transform: translateY(20vh)
    }

    ._Particle_vt0ov_13:nth-child(4) {
        transform: translateY(4vh)
    }

    ._Particle_vt0ov_13:nth-child(5) {
        transform: translateY(22vh)
    }

    ._Particle_vt0ov_13:nth-child(6) {
        transform: translateY(19vh)
    }

    ._Particle_vt0ov_13:nth-child(7) {
        transform: translateY(37vh)
    }

    ._Particle_vt0ov_13:nth-child(8) {
        transform: translateY(26vh)
    }

    ._Particle_vt0ov_13:nth-child(9) {
        transform: translateY(8vh)
    }

    ._Particle_vt0ov_13:nth-child(10) {
        transform: translateY(32vh)
    }

    ._Particle_vt0ov_13:nth-child(11) {
        transform: translateY(50vh)
    }

    ._Particle_vt0ov_13:nth-child(12) {
        transform: translateY(33vh)
    }

    ._Particle_vt0ov_13:nth-child(13) {
        transform: translateY(1vh)
    }

    ._Particle_vt0ov_13:nth-child(14) {
        transform: translateY(31vh)
    }

    ._Particle_vt0ov_13:nth-child(15) {
        transform: translateY(14vh)
    }

    ._Particle_vt0ov_13:nth-child(16) {
        transform: translateY(11vh)
    }

    ._Particle_vt0ov_13:nth-child(17) {
        transform: translateY(33vh)
    }

    ._Particle_vt0ov_13:nth-child(18) {
        transform: translateY(24vh)
    }

    ._Particle_vt0ov_13:nth-child(19) {
        transform: translateY(19vh)
    }

    ._Particle_vt0ov_13:nth-child(20) {
        transform: translateY(7vh)
    }

    ._Particle_vt0ov_13:nth-child(21) {
        transform: translateY(7vh)
    }

    ._Particle_vt0ov_13:nth-child(22) {
        transform: translateY(44vh)
    }

    ._Particle_vt0ov_13:nth-child(23) {
        transform: translateY(11vh)
    }

    ._Particle_vt0ov_13:nth-child(24) {
        transform: translateY(6vh)
    }

    ._Particle_vt0ov_13:nth-child(25) {
        transform: translateY(8vh)
    }

    ._Particle_vt0ov_13:nth-child(26) {
        transform: translateY(24vh)
    }

    ._Particle_vt0ov_13:nth-child(27) {
        transform: translateY(46vh)
    }

    ._Particle_vt0ov_13:nth-child(28) {
        transform: translateY(42vh)
    }

    ._Particle_vt0ov_13:nth-child(29) {
        transform: translateY(15vh)
    }

    ._Particle_vt0ov_13:nth-child(30) {
        transform: translateY(46vh)
    }

    ._Particle_vt0ov_13:nth-child(31) {
        transform: translateY(8vh)
    }

    ._Particle_vt0ov_13:nth-child(32) {
        transform: translateY(14vh)
    }

    ._Particle_vt0ov_13:nth-child(33) {
        transform: translateY(46vh)
    }

    ._Particle_vt0ov_13:nth-child(34) {
        transform: translateY(5vh)
    }

    ._Particle_vt0ov_13:nth-child(35) {
        transform: translateY(18vh)
    }

    ._Particle_vt0ov_13:nth-child(36) {
        transform: translateY(46vh)
    }

    ._Particle_vt0ov_13:nth-child(37) {
        transform: translateY(8vh)
    }

    ._Particle_vt0ov_13:nth-child(38) {
        transform: translateY(15vh)
    }

    ._Particle_vt0ov_13:nth-child(39) {
        transform: translateY(44vh)
    }

    ._Particle_vt0ov_13:nth-child(40) {
        transform: translateY(11vh)
    }

    ._Particle_vt0ov_13:nth-child(41) {
        transform: translateY(40vh)
    }

    ._Particle_vt0ov_13:nth-child(42) {
        transform: translateY(15vh)
    }

    ._Particle_vt0ov_13:nth-child(43) {
        transform: translateY(34vh)
    }

    ._Particle_vt0ov_13:nth-child(44) {
        transform: translateY(21vh)
    }

    ._Particle_vt0ov_13:nth-child(45) {
        transform: translateY(9vh)
    }

    ._Particle_vt0ov_13:nth-child(46) {
        transform: translateY(3vh)
    }

    ._Particle_vt0ov_13:nth-child(47) {
        transform: translateY(27vh)
    }

    ._Particle_vt0ov_13:nth-child(48) {
        transform: translateY(5vh)
    }

    ._Particle_vt0ov_13:nth-child(49) {
        transform: translateY(29vh)
    }

    ._Particle_vt0ov_13:nth-child(50) {
        transform: translateY(4vh)
    }

    ._Particle_vt0ov_13:nth-child(51) {
        transform: translateY(29vh)
    }

    ._Particle_vt0ov_13:nth-child(52) {
        transform: translateY(8vh)
    }

    ._Particle_vt0ov_13:nth-child(53) {
        transform: translateY(40vh)
    }

    ._Particle_vt0ov_13:nth-child(54) {
        transform: translateY(45vh)
    }

    ._Particle_vt0ov_13:nth-child(55) {
        transform: translateY(20vh)
    }

    ._Particle_vt0ov_13:nth-child(56) {
        transform: translateY(43vh)
    }

    ._Particle_vt0ov_13:nth-child(57) {
        transform: translateY(11vh)
    }

    ._Particle_vt0ov_13:nth-child(58) {
        transform: translateY(7vh)
    }

    ._Particle_vt0ov_13:nth-child(59) {
        transform: translateY(13vh)
    }

    ._Particle_vt0ov_13:nth-child(60) {
        transform: translateY(16vh)
    }

    ._Particle_vt0ov_13:nth-child(61) {
        transform: translateY(24vh)
    }

    ._Particle_vt0ov_13:nth-child(62) {
        transform: translateY(5vh)
    }

    ._Particle_vt0ov_13:nth-child(63) {
        transform: translateY(6vh)
    }

    ._Particle_vt0ov_13:nth-child(64) {
        transform: translateY(27vh)
    }

    ._Particle_vt0ov_13:nth-child(65) {
        transform: translateY(17vh)
    }

    ._Particle_vt0ov_13:nth-child(66) {
        transform: translateY(33vh)
    }

    ._Particle_vt0ov_13:nth-child(67) {
        transform: translateY(17vh)
    }

    ._Particle_vt0ov_13:nth-child(68) {
        transform: translateY(7vh)
    }

    ._Particle_vt0ov_13:nth-child(69) {
        transform: translateY(14vh)
    }

    ._Particle_vt0ov_13:nth-child(70) {
        transform: translateY(48vh)
    }

    ._Particle_vt0ov_13:nth-child(71) {
        transform: translateY(22vh)
    }

    ._Particle_vt0ov_13:nth-child(72) {
        transform: translateY(4vh)
    }

    ._Particle_vt0ov_13:nth-child(73) {
        transform: translateY(23vh)
    }

    ._Particle_vt0ov_13:nth-child(74) {
        transform: translateY(45vh)
    }

    ._Particle_vt0ov_13:nth-child(75) {
        transform: translateY(19vh)
    }

    ._Particle_vt0ov_13:nth-child(76) {
        transform: translateY(22vh)
    }

    ._Particle_vt0ov_13:nth-child(77) {
        transform: translateY(19vh)
    }

    ._Particle_vt0ov_13:nth-child(78) {
        transform: translateY(16vh)
    }

    ._Particle_vt0ov_13:nth-child(79) {
        transform: translateY(3vh)
    }

    ._Particle_vt0ov_13:nth-child(80) {
        transform: translateY(28vh)
    }

    ._Particle_vt0ov_13:nth-child(81) {
        transform: translateY(20vh)
    }

    ._Particle_vt0ov_13:nth-child(82) {
        transform: translateY(28vh)
    }

    ._Particle_vt0ov_13:nth-child(83) {
        transform: translateY(3vh)
    }

    ._Particle_vt0ov_13:nth-child(84) {
        transform: translateY(39vh)
    }

    ._Particle_vt0ov_13:nth-child(85) {
        transform: translateY(5vh)
    }

    ._Particle_vt0ov_13:nth-child(86) {
        transform: translateY(16vh)
    }

    ._Particle_vt0ov_13:nth-child(87) {
        transform: translateY(8vh)
    }

    ._Particle_vt0ov_13:nth-child(88) {
        transform: translateY(17vh)
    }

    ._Particle_vt0ov_13:nth-child(89) {
        transform: translateY(41vh)
    }

    ._Particle_vt0ov_13:nth-child(90) {
        transform: translateY(17vh)
    }

    ._Particle_vt0ov_13:nth-child(91) {
        transform: translateY(28vh)
    }

    ._Particle_vt0ov_13:nth-child(92) {
        transform: translateY(1vh)
    }

    ._Particle_vt0ov_13:nth-child(93) {
        transform: translateY(2vh)
    }

    ._Particle_vt0ov_13:nth-child(94) {
        transform: translateY(23vh)
    }

    ._Particle_vt0ov_13:nth-child(95) {
        transform: translateY(27vh)
    }

    ._Particle_vt0ov_13:nth-child(96) {
        transform: translateY(25vh)
    }

    ._Particle_vt0ov_13:nth-child(97) {
        transform: translateY(25vh)
    }

    ._Particle_vt0ov_13:nth-child(98) {
        transform: translateY(7vh)
    }

    ._Particle_vt0ov_13:nth-child(99) {
        transform: translateY(48vh)
    }

    ._Particle_vt0ov_13:nth-child(100) {
        transform: translateY(30vh)
    }
}

._Name_6voe6_1 {
    font-size: clamp(2.75rem,7vw,4rem);
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    text-shadow: calc(.05*clamp(2.75rem,7vw,4rem)) calc(.05*clamp(2.75rem,7vw,4rem)) 0 #4729FF
}

._Subtitle_1ose3_1 {
    position: relative;
    color: #4729ff;
    font-size: clamp(2rem,5vw,3rem);
    font-weight: 400;
    text-shadow: 3px 3px 5px rgba(0,0,0,.2)
}

._Subtitle_1ose3_1:after {
    content: "_";
    animation: _blink_1ose3_1 1s step-start infinite
}

@keyframes _blink_1ose3_1 {
    50% {
        opacity: 0
    }
}

._Image_b4kca_1 img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 25%;
    max-height: 100%;
    filter: drop-shadow(-7.5px 7.5px 0 #4729FF);
    animation: _fadeIn_b4kca_1 .75s ease-in-out forwards
}

@media screen and (max-width: 1000px) {
    ._Image_b4kca_1 {
        width:100%;
        display: flex;
        justify-content: center
    }

    ._Image_b4kca_1 img {
        position: relative;
        max-width: 50%;
        min-width: 250px
    }
}

@keyframes _fadeIn_b4kca_1 {
    0% {
        transform: translate(100%);
        opacity: 0
    }

    to {
        opacity: 1
    }
}

._AboutMe_t0wu5_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    padding: clamp(1.5rem,5vw,3rem);
    box-sizing: border-box;
    font-family: inherit
}

._Title_t0wu5_16 {
    font-size: clamp(2.5rem,7vw,3rem);
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: #4729ff;
    margin-bottom: 1rem
}

._Text_t0wu5_25 {
    line-height: 1.5;
    font-size: clamp(1rem,3vw,1.2rem);
    max-width: 100ch
}

._Clients_1syny_1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

._Title_1syny_9 {
    text-align: center
}

._Cards__container_1syny_13 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: clamp(1rem,3vw,3rem)
}

._ClientCard_5ys25_1 img {
    width: clamp(7.5rem,15vw,10rem);
    object-fit: cover
}

._ClientCard_5ys25_1 p {
    font-size: 1.2rem;
    font-weight: 600
}

._Skills_a5xh4_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    padding: clamp(1.5rem,5vw,3rem);
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;
    box-sizing: border-box
}

._Skills__container_a5xh4_18 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    gap: clamp(1.5rem,5vw,2.5rem)
}

._Skills__comment_a5xh4_26 {
    color: #888;
    text-align: center
}

._Skills__showMore_a5xh4_30 {
    margin: 2rem
}

._Skills__showMore_a5xh4_30 button {
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #4729ff;
    color: #fff;
    font-size: clamp(1rem,4vw,1.5rem);
    white-space: nowrap;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out
}

._Skills__showMore_a5xh4_30 button:hover {
    filter: brightness(1.4);
    box-shadow: 0 0 1rem #0003
}

._Title_a5xh4_50 {
    font-size: clamp(2rem,5vw,2.5rem);
    margin-top: 0
}

._Skill_m64z7_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 clamp(100px,20vw,128px);
    text-align: center
}

._Skill__image_m64z7_9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(100px,20vw,128px);
    height: clamp(100px,20vw,128px);
    background-color: #d9d9d9;
    border-radius: 100%;
    cursor: pointer
}

._Skill__image_m64z7_9 svg {
    font-size: 3.5rem
}

._Skill__image_m64z7_9 img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

._Skill__name_m64z7_27 {
    margin-top: .75rem;
    font-weight: 600;
    font-size: 1rem
}

._Decoration_5mar9_1 {
    position: absolute;
    width: 200px;
    height: 10px;
    background-color: #4729ff;
    box-shadow: 0 3px #ff005c;
    transform: rotate(-45deg);
    z-index: -1
}

._Projects_19j3a_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: clamp(1.5rem,5vw,3rem);
    box-sizing: border-box;
    background-image: radial-gradient(circle,#d9d9d9 2px,transparent 0);
    background-size: 20px 20px
}

._Projects__container_19j3a_15 {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100%
}

._Projects__container_19j3a_15>* {
    flex: 1 1 300px
}

._Title_19j3a_27 {
    font-size: clamp(2.5rem,7vw,3rem);
    color: #fff;
    margin: 0;
    padding: 1rem 4rem;
    background-color: #4729ff;
    clip-path: polygon(15% 0,100% 0,85% 100%,0% 100%)
}

._ShadowParent_19j3a_36 {
    filter: drop-shadow(.5rem .5rem 0 #FF005C)
}

._CheckMyRepos_19j3a_40 {
    font-size: clamp(1rem,3vw,1.2rem);
    font-weight: 700;
    color: #777;
    margin: 1rem 1rem 2rem
}

._CheckMyRepos_19j3a_40 a {
    color: #ff005c;
    transition: color .2s ease-in-out
}

._CheckMyRepos_19j3a_40 a:hover {
    color: #4729ff
}

._Project_79x7n_1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 400px;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: .25rem .25rem .5rem .3rem #00000026;
    transition: transform .2s ease-in-out,box-shadow .2s ease-in-out
}

._Project__image_79x7n_13 {
    width: 100%;
    aspect-ratio: 5/3;
    overflow: hidden;
    padding: .5rem;
    box-sizing: border-box;
    cursor: pointer
}

._Project__image_79x7n_13 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0
}

._Project__info_79x7n_27 {
    padding: 1.5rem
}

._Project__info__title_79x7n_30>* {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #4729ff
}

._Project__links_79x7n_38 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    width: 100%;
    background-color: #d9d9d9
}

._Project__links_79x7n_38 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

._Project_79x7n_1:hover {
    transform: scale(1.05);
    box-shadow: .25rem .25rem .5rem .3rem #00000040
}

._LinkButton_gaxp1_1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: .5rem;
    font-size: 2rem;
    transition: background-color .2s ease-in-out,filter .2s ease-in-out
}

._LinkButton_gaxp1_1 a {
    color: #000
}

._LinkButton_gaxp1_1:hover {
    cursor: pointer;
    background-color: #4729ff;
    filter: brightness(1.75)
}

._LinkButton_gaxp1_1+._LinkButton_gaxp1_1:before {
    content: "";
    position: absolute;
    left: -1px;
    width: 2px;
    height: 70%;
    background-color: #00000026
}

._ProjectModal_167s9_3 {
    width: 100%;
    height: 100%;
    font-family: Ubuntu Mono,monospace;
    overflow: auto
}

._ProjectModal__image_167s9_9 {
    width: 100%
}

._ProjectModal__image_167s9_9 img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 5/2
}

._ProjectModal__info_167s9_19 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    background-color: #fff
}

._ProjectModal__info__title_167s9_29 h3 {
    font-size: 2rem;
    font-weight: 900;
    color: #4729ff;
    margin: 0
}

._ProjectModal__info__description_167s9_35 {
    padding: 1rem;
    white-space: pre-wrap;
    margin-bottom: 2rem
}

._ProjectModal__info__description_167s9_35 p {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin: 0
}

@media screen and (max-width: 1000px) {
    ._ProjectModal__info__description_167s9_35 p {
        font-size:1.2rem
    }
}

._ProjectModal__info__responsibilites_167s9_51 {
    text-align: center;
    width: 100%
}

._ProjectModal__info__responsibilites_167s9_51 h3 {
    font-size: 1.5rem;
    font-weight: 900;
    color: #4729ff;
    margin: 0
}

._ProjectModal__info__responsibilites_167s9_51 ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    font-size: 1.1rem
}

._Modal_ud8z3_1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 9999;
    animation: _modalFade_ud8z3_1 .5s ease-in-out
}

._Modal__overlay_ud8z3_14 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5)
}

._Modal__content_ud8z3_22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 90%;
    background: #fff;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 10px #00000080;
    animation: _modalAppear_ud8z3_1 .5s ease-in-out
}

._Modal__content__topbar_ud8z3_36 {
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #d9d9d9
}

._Modal__content__topbar__close_ud8z3_47 {
    font-size: 3.5rem;
    font-weight: 900;
    padding: 1rem;
    cursor: pointer
}

._Modal__content__body_ud8z3_53 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto
}

@keyframes _modalFade_ud8z3_1 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes _modalAppear_ud8z3_1 {
    0% {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}

._Contact_9u39i_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #4729ff
}

._Contact__Title_9u39i_13 h2 {
    font-size: clamp(2.5rem,7vw,3rem);
    font-weight: 700;
    color: #fff;
    margin: 0;
    margin-bottom: 1rem
}

._Contact__Socials_9u39i_20 {
    width: 35%;
    margin-bottom: 1rem
}

@media screen and (max-width: 1000px) {
    ._Contact__Socials_9u39i_20 {
        width:75%
    }
}

._Contact__Socials_9u39i_20 p {
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    margin: .5rem 0;
    white-space: nowrap
}

._Contact__Form_9u39i_37 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

._Form_ew4n2_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem
}

._Button_ew4n2_10 {
    border: none;
    outline: none;
    border-radius: 100vw;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    background-color: #ff005c;
    color: #fff;
    font-family: inherit;
    font-size: 1.5rem;
    transition: filter .2s ease-in-out,background-color .2s ease-in-out
}

._Button_ew4n2_10:hover {
    filter: brightness(.8);
    cursor: pointer
}

._Button_ew4n2_10:active {
    filter: brightness(.5)
}

._Button_ew4n2_10:disabled {
    pointer-events: none
}

._Success_ew4n2_33 {
    background-color: #24d854
}

._InputContainer_semxg_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5rem
}

._Label_semxg_10 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff
}

._Input_semxg_1 {
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 100vw;
    border: 2px solid white;
    text-align: center;
    font-size: 1rem;
    font-family: inherit
}

._TextArea_semxg_30 {
    border-radius: 2rem;
    max-width: 50%;
    min-height: 10rem;
    text-align: left
}

@media screen and (max-width: 1000px) {
    ._Input_semxg_1,._TextArea_semxg_30 {
        width:90%;
        max-width: 90%
    }
}

._OgImageContainer_1js44_1 {
    display: flex;
    margin: 0;
    padding: 0;
    width: 850px;
    height: 450px
}
